---
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
    - image="alpine"
    - image="alpine" tag="edge"
    # - namespace="archlinux" image="base"
    - image="debian" tag="stable"
    - image="debian" tag="unstable"
    - image="debian"
    - image="centos" tag="7"
    - image="centos"
    - image="fedora"
    - image="fedora" tag="rawhide"
    - image="opensuse"
    - image="ubuntu" tag="rolling"
    - image="ubuntu" tag="devel"
    - image="ubuntu"

matrix:
  allow_failures:
    - env: image="alpine" tag="edge"
    - env: image="debian" tag="unstable"
    - env: image="fedora" tag="rawhide"
    - env: image="ubuntu" tag="rolling"
    - env: image="ubuntu" tag="devel"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "EWWfB9m6mmIbBNARkD5Qb/yYZwhpaT3/giTj7wmpz1MeJjU3gJ1iRj1FEgJ/CHkBA5wihoO+AUFZz+09XMpeV95H42ftySDzzdebx/LJzaMi5j9GkBeaUFw2QmFcprO+8vmBedWuJ4tW8n868gr+LyVjx8162PsRaFopWXTjfZIWPQftWAb1o9RyghLvScl7LudaA78pXySqbsCozfBJaH1IAdQWBzlQq+7NxoFXeJ5xrXiNIIk9GD/Xi1JvwBdo2mOWsnBEw1w55MXPOBscRJ1lUHmhwdOYgcyEqW7Rjo8D9CAchl/taT8bM8io1DTe5f5EJWc27FEdXlNz3B5ZUWrMt79tb7KXDe22LrFQvf4iupbmoGRz1PSkgaRxUYPoPYeqFRBCD5At/TlcpWMz8bwIJmpodm+02QCl28u7Jhv+DkoOOcbwprv8sK9X7bCAlvUImt5pgUnmQFALJZSLzVmb2enP1iW2YB9tmJHcYEv4Tlrk8UXRx8nCTuRm0mpPTorZXGLuit5irGrQL8XzEeCQx5Xkur8biTFHck1Hb6DQuSkbb2cM9Tw1cH7Brd6fjy+kT+C8qauiWk6NTvVie8IBFA72oia+FMWrkXEvAeU1mtw83e6UcsRvUa+IEJiyPMUUMPJ34AcJdjmnoSd+UXVP7AZyKXEQaOLXRRrFANc="
  email: false
