---
# tasks file for ntp
- name: load default variables
  include_vars:
    - default.yml

- name: load os-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - default.yml

- name: install software
  package:
    name: "{{ item }}"
  with_items:
    - "{{ packages }}"

- name: configure ntp_interfaces
  lineinfile:
    dest: "{{ file }}"
    line: "interface listen {{ item.address }}"
  with_items:
    - "{{ ntp_interfaces }}"
  when:
    - ntp_interfaces is defined
  notify:
    - restart ntpd

- name: configure ntp_restrict
  lineinfile:
    dest: "{{ file }}"
    line: "restrict {{ item.address }}"
  with_items:
    - "{{ ntp_restrict }}"
  when:
    - ntp_restrict is defined
  notify:
    - restart ntpd

- name: configure ntp_pool
  lineinfile:
    dest: "{{ file }}"
    line: "pool {{ item.name }}"
  with_items:
    - "{{ ntp_pool }}"
  when:
    - ntp_pool is defined
  notify:
    - restart ntpd

- name: configure ntp_server
  lineinfile:
    dest: "{{ file }}"
    line: "server {{ item.name }}"
  with_items:
    - "{{ ntp_server }}"
  when:
    - ntp_server is defined
  notify:
    - restart ntpd

- name: start and enable software
  service:
    name: "{{ service }}"
    state: started
    enabled: true
  when:
    - ansible_virtualization_type != "docker"
